button {
  background: #e0e0e0;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 7px #aeaeae;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

button:hover:enabled {
  background: #bdbdbd; 
}

button:disabled {
  color: #9e9e9e;
}
/* Button varients */
.outline {
  background: #fff;
  color: #3d5afe;
  border: 2px solid #3d5afe;
  box-shadow: none;
}

.outline:hover {
  background: #eaefff;
}

.text {
  background: rgba(255, 255, 255, 0);
  color: #3d5afe;
  box-shadow: none;
}

.text:hover:enabled {
  background: #eaefff;
}


/* Button colors */
.primary {
  color: #fff;
  background: #2962ff;
}

.primary:hover:enabled {
  background: #0039cb; 
}

.secondry {
  color: #fff;
  background: #455a64;
}

.secondry:hover:enabled {
  background: #1c313a; 
}

.danger {
  color: #fff;
  background: #d32f2f;
}

.danger:hover:enabled {
  background: #9a0007;
}

